<div class="clear"></div>
<div class="site-main cf" id="main">
<div class="content-area grid_4 " id="primary">
  <div class="site-content papr cf" id="content" role="main">
    <div class="mainsec section" id="mainsec">
      <div class="widget Blog" id="Blog1">
        <div class="blog-posts hfeed">

        <div class="date-outer">

          <h2 class="date-header"><span>Thursday, January 31, 2013</span></h2>

          <div class="date-posts">

            <div class="post-outer">
              <div class="wrapfullpost">
                <article class="post hentry">
                  <a name="6594048573928370354"></a>
                  <div id="summary26594048573928370354" class='left'>
                    <!-- <img class="postimg" src="Newspress_files/Antartic-by-Peter-Rejcek_002.jpg" height="140px" width="180px"> -->
                    <%= image_tag("Antartic-by-Peter-Rejcek_002.jpg", border: '0', height: '140', width: '180') %>
                  </div>
                  <div class="cover">
                    <header class="entry-header">
                      <h2 class="post-title entry-title">
                        <a href="">Lorem Ipsum</a>
                      </h2>
                      <div class="entry-meta">
                        Posted on <time class="entry-date">12:20 PM</time><span> by <span class="author vcard">BTemplates</span></span> with <a href="http://newspress2-btemplates.blogspot.in/2013/01/lorem-ipsum_4296.html#comment-form" onclick="">2 comments</a>
                      </div>
                    </header>
                    <div class="post-header-line-1"></div>
                    <div class="post-body entry-summary entry">
                      <div id="summary6594048573928370354"><div>Download this and more Blogger
                        Templates at . For tutorials, tips and tricks about Blogger visit our 
                        Blog.» A normal paragraphEa eam labores imperdiet, [...]</div></div>
                        <div style="clear: both;"></div>
                      </div>
                      <div style="clear: both;"></div>
                      <footer class="entry-meta">
                        This entry was posted in : <a href="http://newspress2-btemplates.blogspot.in/search/label/Lorem%201" rel="tag">Lorem 1</a>, <a href="http://newspress2-btemplates.blogspot.in/search/label/Lorem%202" rel="tag">Lorem 2</a>, <a href="http://newspress2-btemplates.blogspot.in/search/label/Lorem%203" rel="tag">Lorem 3</a>
                      </footer>
                      <div style="float:right;padding-right:10px;margin-top:10px;">
                        <a class="morer" href="">Read More</a>
                      </div>
                    </div>
                    <div class="post-footer">
                      <div class="post-footer-line post-footer-line-"></div>
                      <div class="post-footer-line post-footer-line-2"></div>
                      <div class="post-footer-line post-footer-line-3">
                        <!-- <span class="item-control blog-admin pid-1592311861">
                          <a href="https://www.blogger.com/post-edit.g?blogID=4285083475741806618&amp;postID=6594048573928370354&amp;from=pencil" title="Edit Post"> -->
                            <!-- <img alt="" class="icon-action" src="Newspress_files/icon18_edit_allbkg.gif" height="18" width="18">
                            <%#= image_tag('icon18_edit_allbkg.gif', height: "18", width: "18")%> -->
                          <!-- </a>
                        </span> -->
                      </div>
                    </div>
                    </article>
                  </div>
                  <div style="clear: both;height:20px;"></div>
                </div>
                <div class="post-outer">
                  <div class="wrapfullpost">
                    <article class="post hentry">
                      <a name="1156922885682836588"></a>
                      <div id="summary21156922885682836588" class='left'>
                        <!-- <img class="postimg" src="Newspress_files/Antartic-by-Kelly-Speelman.jpg" height="140px" width="180px"> -->
                        <%= image_tag('Antartic-by-Kelly-Speelman.jpg', height: "140px", width: "180px") %>
                      </div>
                      <div class="cover">
                        <header class="entry-header">
                          <h2 class="post-title entry-title">
                            <a href="">Lorem Ipsum</a>
                          </h2>
                          <div class="entry-meta">
                            Posted on <time class="entry-date">12:20 PM</time><span> by <span class="author vcard">BTemplates</span></span> with <a href="http://newspress2-btemplates.blogspot.in/2013/01/lorem-ipsum_31.html#comment-form" onclick="">No comments</a>
                          </div>
                        </header>
                        <div class="post-header-line-1"></div>
                        <div class="post-body entry-summary entry">
                          <div id="summary1156922885682836588"><div>» An ImageDownload this and 
                            more Blogger Templates at . For tutorials, tips and tricks about Blogger
                            visit our Blog.» A floating image with link and text [...]</div></div>
                            <div style="clear: both;"></div>
                          </div>
                          <div style="clear: both;"></div>
                          <footer class="entry-meta">
                            This entry was posted in : <a href="" rel="tag">Lorem 1</a>, <a href="" rel="tag">Lorem 3</a>
                          </footer>
                          <div style="float:right;padding-right:10px;margin-top:10px;">
                            <a class="morer" href="">Read More</a>
                          </div>
                        </div>
                        <div class="post-footer">
                          <div class="post-footer-line post-footer-line-"></div>
                          <div class="post-footer-line post-footer-line-2"></div>
                          <div class="post-footer-line post-footer-line-3">
                            <!-- <span class="item-control blog-admin pid-1592311861">
                              <a href="https://www.blogger.com/post-edit.g?blogID=4285083475741806618&amp;postID=1156922885682836588&amp;from=pencil" title="Edit Post">
                                <%#= image_tag 'icon18_edit_allbkg.gif',height: "18", width: "18" %>
                              </a>
                            </span> -->
                          </div></div>
                        </article>
                      </div>
                      <div style="clear: both;height:20px;"></div>
                    </div>
                    <div class="post-outer">
                      <div class="wrapfullpost">
                        <article class="post hentry">
                          <a name="1308695558697404753"></a>
                          <div id="summary21308695558697404753" class='left'>
                            <!-- <img class="postimg" src="Newspress_files/popocatepetl-iztaccihuatl.jpg" height="140px" width="180px"> -->
                            <%= image_tag('popocatepetl-iztaccihuatl.jpg',height: "140px", width: "180px") %>
                          </div>
                          <div class="cover">
                            <header class="entry-header">
                              <h2 class="post-title entry-title">
                                <a href="">Lorem Ipsum</a>
                              </h2>
                              <div class="entry-meta">
                                Posted on <time class="entry-date">12:20 PM</time><span> by <span class="author vcard">BTemplates</span></span> with <a href="http://newspress2-btemplates.blogspot.in/2013/01/lorem-ipsum.html#comment-form" onclick="">No comments</a>
                              </div>
                            </header>
                            <div class="post-header-line-1"></div>
                            <div class="post-body entry-summary entry">
                              <div id="summary1308695558697404753"><div>Download this and more Blogger Templates at . For tutorials, tips and tricks about Blogger visit our Blo [...]</div></div>
                              <div style="clear: both;"></div>
                            </div>
                            <div style="clear: both;"></div>
                            <footer class="entry-meta">
                              This entry was posted in : <a href="http://newspress2-btemplates.blogspot.in/search/label/Lorem%202" rel="tag">Lorem 2</a>, <a href="http://newspress2-btemplates.blogspot.in/search/label/Lorem%203" rel="tag">Lorem 3</a>
                            </footer>
                            <div style="float:right;padding-right:10px;margin-top:10px;">
                              <a class="morer" href="">Read More</a>
                            </div>
                          </div>
                          <div class="post-footer">
                            <div class="post-footer-line post-footer-line-"></div>
                            <div class="post-footer-line post-footer-line-2"></div>
                            <div class="post-footer-line post-footer-line-3">
                              <!-- <span class="item-control blog-admin pid-1592311861">
                                <a href="https://www.blogger.com/post-edit.g?blogID=4285083475741806618&amp;postID=1308695558697404753&amp;from=pencil" title="Edit Post">
                                </a>
                              </span> -->
                            </div></div>
                          </article>
                        </div>
                        <div style="clear: both;height:20px;"></div>
                      </div>
                      <div class="post-outer">
                        <div class="wrapfullpost">
                          <article class="post hentry">
                            <a name="906996955940511104"></a>
                            <div id="summary2906996955940511104" class='left'>
                              <!-- <img class="postimg" src="Newspress_files/BeachWaves-By-RePublicDomain.jpg" height="140px" width="180px"> -->
                              <%= image_tag 'BeachWaves-By-RePublicDomain.jpg', height: "140px", width: "180px" %>
                            </div>
                            <div class="cover">
                              <header class="entry-header">
                                <h2 class="post-title entry-title">
                                  <a href="http://newspress2-btemplates.blogspot.in/2013/01/template-images.html">Template images</a>
                                </h2>
                                <div class="entry-meta">
                                  Posted on <time class="entry-date">12:20 PM</time><span> by <span class="author vcard">BTemplates</span></span> with <a href="http://newspress2-btemplates.blogspot.in/2013/01/template-images.html#comment-form" onclick="">No comments</a>
                                </div>
                              </header>
                              <div class="post-header-line-1"></div>
                              <div class="post-body entry-summary entry">
                                <div id="summary906996955940511104"><div>3 Images in this template:(Click on each to download)menu.pngstripe.pngcomment-avatar. [...]</div></div>
                                <div style="clear: both;"></div>
                              </div>
                              <div style="clear: both;"></div>
                              <footer class="entry-meta">
                                This entry was posted in : <a href="" rel="tag">Lorem 1</a>
                              </footer>
                              <div style="float:right;padding-right:10px;margin-top:10px;">
                                <a class="morer" href="">Read More</a>
                              </div>
                            </div>
                            <div class="post-footer">
                              <div class="post-footer-line post-footer-line-"></div>
                              <div class="post-footer-line post-footer-line-2"></div>
                              <div class="post-footer-line post-footer-line-3">
                                <!-- <span class="item-control blog-admin pid-1592311861">
                                  <a href="https://www.blogger.com/post-edit.g?blogID=4285083475741806618&amp;postID=906996955940511104&amp;from=pencil" title="Edit Post">
                                    <!-- <img alt="" class="icon-action" src="Newspress_files/icon18_edit_allbkg.gif" height="18" width="18">
                                  </a>
                                </span> -->
                              </div></div>
                            </article>
                          </div>
                          <div style="clear: both;height:20px;"></div>
                        </div>

                      </div>
                    </div>

                    </div>
                    <div style="clear: both;"></div>
                    <div class="blog-pager" id="blog-pager">
                      <a class="home-link" href="">Home</a>
                    </div>
                    <div class="clear"></div>
                    <div class="blog-feeds">
                      <div class="feed-links">
                        Subscribe to:
                        <a class="feed-link" href="" target="_blank" type="application/atom+xml">Posts (Atom)</a>
                      </div>
                    </div>
                  </div></div>
                </div><!-- #content .site-content -->
              </div><!-- #primary .content-area -->

  <%= render 'sidebar' %>
  </div><!-- #main .site-main -->