<div class="post-outer">
<div class="wrapfullpost">
  <article class="post hentry">
    <a name="6594048573928370354"></a>
    <div class="cover1">
      <header class="entry-header">
        <h2 class="post-title entry-title">
          <%= post.title %>
        </h2>
          <div class="entry-meta">
            Posted on <time class="entry-date"><%= post.created_at.strftime("%B %d,%Y")%></time><span> by <span class="author vcard"><%= post.user.try(:email) %></span></span> with <a href="http://newspress2-btemplates.blogspot.in/2013/01/lorem-ipsum_4296.html#comment-form" onclick="">2 comments</a>
          </div>
      </header>
      <div class="post-header-line-1"></div>
      <div class="post-body entry-summary entry">
        <p>
        <%#= image_tag("Antartic-by-Peter-Rejcek_002.jpg", border: '0', height: '332', width: '500') %>
        <%= image_tag post.image.url(:medium) %>
        </p>
        <%= raw post.content %>
        <div style="clear:both;"></div>
        <div class="post-share-buttons">
          <a class="goog-inline-block share-button sb-email" href="https://www.blogger.com/share-post.g?blogID=4285083475741806618&postID=6594048573928370354&target=email" target="_blank" title="Email This"><span class="share-button-link-text">Email This</span></a><a class="goog-inline-block share-button sb-blog" href="https://www.blogger.com/share-post.g?blogID=4285083475741806618&postID=6594048573928370354&target=blog" onclick="window.open(this.href, &quot;_blank&quot;, &quot;height=270,width=475&quot;); return false;" target="_blank" title="BlogThis!"><span class="share-button-link-text">BlogThis!</span></a><a class="goog-inline-block share-button sb-twitter" href="https://www.blogger.com/share-post.g?blogID=4285083475741806618&postID=6594048573928370354&target=twitter" target="_blank" title="Share to Twitter"><span class="share-button-link-text">Share to Twitter</span></a><a class="goog-inline-block share-button sb-facebook" href="https://www.blogger.com/share-post.g?blogID=4285083475741806618&postID=6594048573928370354&target=facebook" onclick="window.open(this.href, &quot;_blank&quot;, &quot;height=430,width=640&quot;); return false;" target="_blank" title="Share to Facebook"><span class="share-button-link-text">Share to Facebook</span></a><a class="goog-inline-block share-button sb-pinterest" href="https://www.blogger.com/share-post.g?blogID=4285083475741806618&postID=6594048573928370354&target=pinterest" target="_blank" title="Share to Pinterest"><span class="share-button-link-text">Share to Pinterest</span></a><div class="goog-inline-block google-plus-share-container"><div id="___plusone_0" style="text-indent: 0px; margin: 0px; padding: 0px; border-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline; display: inline-block; width: 300px; height: 20px; background: transparent;"></div></div>
        </div>
        <span class="reaction-buttons">
        </span>
        <div style="clear: both;"></div>
      </div>
      <div style="clear: both;"></div>
      <footer class="entry-meta">
        This entry was posted in : <a href="http://newspress2-btemplates.blogspot.in/search/label/Lorem%201" rel="tag">Lorem 1</a>, <a href="http://newspress2-btemplates.blogspot.in/search/label/Lorem%202" rel="tag">Lorem 2</a>, <a href="http://newspress2-btemplates.blogspot.in/search/label/Lorem%203" rel="tag">Lorem 3</a>
      </footer>
    </div>
    <div class="post-footer">
      <div class="post-footer-line post-footer-line-"></div>
      <div class="post-footer-line post-footer-line-2"></div>
      <div class="post-footer-line post-footer-line-3">
        <!-- <span class="item-control blog-admin pid-1592311861">
          <a href="https://www.blogger.com/post-edit.g?blogID=4285083475741806618&postID=6594048573928370354&from=pencil" title="Edit Post">
            <img alt="" class="icon-action" height="18" src="./Lorem Ipsum _ Newspress_files/icon18_edit_allbkg.gif" width="18">
          </a>
        </span> -->
      </div>
      </div>
    </article>
  </div>
  <div style="clear: both;height:20px;"></div>
  <div class="blog-pager" id="blog-pager">
    <span id="blog-pager-older-link">
      <a class="blog-pager-older-link" href="" id="Blog1_blog-pager-older-link" title="Older Post">Older Post</a>
    </span>
      <%= link_to 'Home', root_path %>
  </div>
  <div class="clear"></div>
  <%= render 'comments' %>
</div>