  <!DOCTYPE html>
  <html dir="ltr" xmlns="http://www.w3.org/1999/xhtml" xmlns:b="http://www.google.com/2005/gml/b" xmlns:data="http://www.google.com/2005/gml/data" xmlns:expr="http://www.google.com/2005/gml/expr">
  <head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  <meta content="blogger" name="generator">
  <%= csrf_meta_tags %>
  <!-- <link href="http://newspress2-btemplates.blogspot.in/favicon.ico" rel="icon" type="image/x-icon">
  <link href="http://newspress2-btemplates.blogspot.com/" rel="canonical">
  <link rel="alternate" type="application/atom+xml" title="Newspress - Atom" href="http://newspress2-btemplates.blogspot.com/feeds/posts/default">
  <link rel="alternate" type="application/rss+xml" title="Newspress - RSS" href="http://newspress2-btemplates.blogspot.com/feeds/posts/default?alt=rss">
  <link rel="service.post" type="application/atom+xml" title="Newspress - Atom" href="https://www.blogger.com/feeds/4285083475741806618/posts/default">
  <link rel="me" href="https://www.blogger.com/profile/04752887254250043082">
  <link rel="openid.server" href="https://www.blogger.com/openid-server.g">
  <link rel="openid.delegate" href="http://newspress2-btemplates.blogspot.com/"> -->

  <%= stylesheet_link_tag 'application', :media => "all"%>

  <%= javascript_include_tag 'application', 'jquery'%>

  <title>ShortNotes</title>
  </head>
  <body data-focus="1">
    <div class="hfeed site container_6" id="page">
      <%= render 'shared/header' %>

      <%= render 'shared/topmenu' %>
        <%= yield %>
      <%= render 'shared/bottom_bloggroll' %>

    <%= render 'shared/footer' %>
    </div><!-- #page .hfeed .site -->
  </body>
  <!-- <iframe src="" style="display: none;"></iframe> -->
  </html>