<!DOCTYPE html>
<html dir="ltr" xmlns="http://www.w3.org/1999/xhtml" xmlns:b="http://www.google.com/2005/gml/b" xmlns:data="http://www.google.com/2005/gml/data" xmlns:expr="http://www.google.com/2005/gml/expr">
<head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<meta content="blogger" name="generator">
<link href="http://newspress2-btemplates.blogspot.in/favicon.ico" rel="icon" type="image/x-icon">
<link href="http://newspress2-btemplates.blogspot.com/" rel="canonical">
<link rel="alternate" type="application/atom+xml" title="Newspress - Atom" href="http://newspress2-btemplates.blogspot.com/feeds/posts/default">
<link rel="alternate" type="application/rss+xml" title="Newspress - RSS" href="http://newspress2-btemplates.blogspot.com/feeds/posts/default?alt=rss">
<link rel="service.post" type="application/atom+xml" title="Newspress - Atom" href="https://www.blogger.com/feeds/4285083475741806618/posts/default">
<link rel="me" href="https://www.blogger.com/profile/04752887254250043082">
<link rel="openid.server" href="https://www.blogger.com/openid-server.g">
<link rel="openid.delegate" href="http://newspress2-btemplates.blogspot.com/">

<%= stylesheet_link_tag 'application','css','css_002','1708208307-widget_css_bundle','authorization', :media => "all"%>

<%= javascript_include_tag 'application', 'jquery'%>

<title>ShortNotes</title>
</head>
<body data-focus="1">
  <div class="hfeed site container_6" id="page">
  <%= render 'shared/header' %>

<div class="grid_6 cf" id="three_tier ">
  <div id="fmenu">
    <div class="menu-primary-container" id="topmenu">
      <div class="nbttopmenu section" id="nbttopmenu"><div class="widget PageList" id="PageList8">
        <div class="widget-content">
          <ul class="sfmenu sf-js-enabled sf-shadow" id="menu-primary">
            <li id="currentpage"><a href="http://newspress2-btemplates.blogspot.in/">Home</a></li>
            <li><a href="http://newspress2-btemplates.blogspot.in/p/about.html">About</a></li>
            <li><a href="http://newspress2-btemplates.blogspot.in/p/contact.html">Contact</a></li>
          </ul>
          <div class="clear"></div>
          <span class="widget-item-control">
            <span class="item-control blog-admin">
              <a class="quickedit" href="http://www.blogger.com/rearrange?blogID=4285083475741806618&amp;widgetType=PageList&amp;widgetId=PageList8&amp;action=editWidget&amp;sectionId=nbttopmenu" onclick='return _WidgetManager._PopupConfig(document.getElementById("PageList8"));' target="configPageList8" title="Edit">
                <!-- <img alt="" src="Newspress_files/icon18_wrench_allbkg.png" height="18" width="18"> -->
                <%= image_tag 'icon18_wrench_allbkg.png', height: '18', width: '18' %>
              </a>
            </span>
          </span>
          <div class="clear"></div>
        </div>
      </div></div>
    </div>
  </div>
<!--  <div id="smenu">
    <div class="menu-secondary-container" id="submenu">
      <ul class="sfmenu sf-js-enabled sf-shadow" id="menu-secondary">
        <li><a href="#">Category 1</a></li>
        <li><a href="#">Featured</a></li>
        <li><a class="sf-with-ul" href="#">Category 2<span class="sf-sub-indicator"> »</span></a>
          <ul style="display: none; visibility: hidden;" class="sub-menu">
            <li><a href="#">Child-1</a></li>
            <li><a href="#">Child-2</a></li>
            <li><a class="sf-with-ul" href="#">Child-3<span class="sf-sub-indicator"> »</span></a>
              <ul style="display: none; visibility: hidden;" class="sub-menu">
                <li><a href="#">Grand-child 1</a></li>
                <li><a href="#">Grand-child 2</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a href="#">Category 3</a></li>
        <li><a href="#">Uncategorized</a></li>
      </ul>
    </div>
  </div> -->
  <div class="cf paprh" id="flashn">
    <h3>Flash news:</h3>
    <div style="display: block; position: relative; height: 38px; overflow: hidden;" id="ticker">
      <ul style="position: absolute; margin: 0px; top: 0px;">
        <li style="margin: 0px; display: list-item;"><a style="margin: 0px;" href="http://newspress2-btemplates.blogspot.in/NEWS-5-LINK-HERE">NEWS-5-TITLE-HERE</a></li><li style="margin: 0px; display: list-item;"><a style="margin: 0px;" href="http://newspress2-btemplates.blogspot.in/NEWS-1-LINK-HERE">NEWS-1-TITLE-HERE</a></li><li style="margin: 0px; display: list-item;"><a style="margin: 0px;" href="http://newspress2-btemplates.blogspot.in/NEWS-2-LINK-HERE">NEWS-2-TITLE-HERE</a></li><li style="margin: 0px; display: list-item;"><a style="margin: 0px;" href="http://newspress2-btemplates.blogspot.in/NEWS-3-LINK-HERE">NEWS-3-TITLE-HERE</a></li><li style="margin: 0px; display: list-item;"><a style="margin: 0px;" href="http://newspress2-btemplates.blogspot.in/NEWS-4-LINK-HERE">NEWS-4-TITLE-HERE</a></li></ul>
      </div>
    </div>
  </div>
  <div class="clear"></div>
  <div class="site-main cf" id="main">
    <div class="content-area grid_4 " id="primary">
      <div class="site-content papr cf" id="content" role="main">
        <div class="mainsec section" id="mainsec"><div class="widget Blog" id="Blog1">
          <div class="blog-posts hfeed">

            <div class="date-outer">
              
              <h2 class="date-header"><span>Thursday, January 31, 2013</span></h2>

              <div class="date-posts">
                
                <div class="post-outer">
                  <div class="wrapfullpost">
                    <article class="post hentry">
                      <a name="6594048573928370354"></a>
                      <div id="summary26594048573928370354">
                      <!-- <img class="postimg" src="Newspress_files/Antartic-by-Peter-Rejcek_002.jpg" height="140px" width="180px"> -->
                      <%= image_tag("Antartic-by-Peter-Rejcek_002.jpg", border: '0', height: '140', width: '180') %>
                      </div>
                      <div class="cover">
                        <header class="entry-header">
                          <h2 class="post-title entry-title">
                            <a href="http://newspress2-btemplates.blogspot.in/2013/01/lorem-ipsum_4296.html">Lorem Ipsum</a>
                          </h2>
                          <div class="entry-meta">
                            Posted on <time class="entry-date">12:20 PM</time><span> by <span class="author vcard">BTemplates</span></span> with <a href="http://newspress2-btemplates.blogspot.in/2013/01/lorem-ipsum_4296.html#comment-form" onclick="">2 comments</a>
                          </div>
                        </header>
                        <div class="post-header-line-1"></div>
                        <div class="post-body entry-summary entry">
                          <div id="summary6594048573928370354"><div>Download this and more Blogger
                            Templates at . For tutorials, tips and tricks about Blogger visit our 
                            Blog.» A normal paragraphEa eam labores imperdiet, [...]</div></div>
                            <div style="clear: both;"></div>
                          </div>
                          <div style="clear: both;"></div>
                          <footer class="entry-meta">
                            This entry was posted in : <a href="http://newspress2-btemplates.blogspot.in/search/label/Lorem%201" rel="tag">Lorem 1</a>, <a href="http://newspress2-btemplates.blogspot.in/search/label/Lorem%202" rel="tag">Lorem 2</a>, <a href="http://newspress2-btemplates.blogspot.in/search/label/Lorem%203" rel="tag">Lorem 3</a>
                          </footer>
                          <div style="float:right;padding-right:10px;margin-top:10px;">
                            <a class="morer" href="http://newspress2-btemplates.blogspot.in/2013/01/lorem-ipsum_4296.html">Read More</a>
                          </div>
                        </div>
                        <div class="post-footer">
                          <div class="post-footer-line post-footer-line-"></div>
                          <div class="post-footer-line post-footer-line-2"></div>
                          <div class="post-footer-line post-footer-line-3">
                            <span class="item-control blog-admin pid-1592311861">
                              <a href="https://www.blogger.com/post-edit.g?blogID=4285083475741806618&amp;postID=6594048573928370354&amp;from=pencil" title="Edit Post">
                                <!-- <img alt="" class="icon-action" src="Newspress_files/icon18_edit_allbkg.gif" height="18" width="18"> -->
                                <%= image_tag('icon18_edit_allbkg.gif', height: "18", width: "18")%>
                              </a>
                            </span>
                          </div></div>
                        </article>
                      </div>
                      <div style="clear: both;height:20px;"></div>
                    </div>
                    <div class="post-outer">
                      <div class="wrapfullpost">
                        <article class="post hentry">
                          <a name="1156922885682836588"></a>
                          <div id="summary21156922885682836588">
                          <!-- <img class="postimg" src="Newspress_files/Antartic-by-Kelly-Speelman.jpg" height="140px" width="180px"> -->
                          <%= image_tag('Antartic-by-Kelly-Speelman.jpg', height: "140px", width: "180px") %>
                          </div>
                          <div class="cover">
                            <header class="entry-header">
                              <h2 class="post-title entry-title">
                                <a href="http://newspress2-btemplates.blogspot.in/2013/01/lorem-ipsum_31.html">Lorem Ipsum</a>
                              </h2>
                              <div class="entry-meta">
                                Posted on <time class="entry-date">12:20 PM</time><span> by <span class="author vcard">BTemplates</span></span> with <a href="http://newspress2-btemplates.blogspot.in/2013/01/lorem-ipsum_31.html#comment-form" onclick="">No comments</a>
                              </div>
                            </header>
                            <div class="post-header-line-1"></div>
                            <div class="post-body entry-summary entry">
                              <div id="summary1156922885682836588"><div>» An ImageDownload this and 
                                more Blogger Templates at . For tutorials, tips and tricks about Blogger
                                visit our Blog.» A floating image with link and text [...]</div></div>
                                <div style="clear: both;"></div>
                              </div>
                              <div style="clear: both;"></div>
                              <footer class="entry-meta">
                                This entry was posted in : <a href="http://newspress2-btemplates.blogspot.in/search/label/Lorem%201" rel="tag">Lorem 1</a>, <a href="http://newspress2-btemplates.blogspot.in/search/label/Lorem%203" rel="tag">Lorem 3</a>
                              </footer>
                              <div style="float:right;padding-right:10px;margin-top:10px;">
                                <a class="morer" href="http://newspress2-btemplates.blogspot.in/2013/01/lorem-ipsum_31.html">Read More</a>
                              </div>
                            </div>
                            <div class="post-footer">
                              <div class="post-footer-line post-footer-line-"></div>
                              <div class="post-footer-line post-footer-line-2"></div>
                              <div class="post-footer-line post-footer-line-3">
                                <span class="item-control blog-admin pid-1592311861">
                                  <a href="https://www.blogger.com/post-edit.g?blogID=4285083475741806618&amp;postID=1156922885682836588&amp;from=pencil" title="Edit Post">
                                    <!-- <img alt="" class="icon-action" src="Newspress_files/icon18_edit_allbkg.gif" height="18" width="18"> -->
                                    <%= image_tag 'icon18_edit_allbkg.gif',height: "18", width: "18" %>
                                  </a>
                                </span>
                              </div></div>
                            </article>
                          </div>
                          <div style="clear: both;height:20px;"></div>
                        </div>
                        <div class="post-outer">
                          <div class="wrapfullpost">
                            <article class="post hentry">
                              <a name="1308695558697404753"></a>
                              <div id="summary21308695558697404753">
                              <!-- <img class="postimg" src="Newspress_files/popocatepetl-iztaccihuatl.jpg" height="140px" width="180px"> -->
                              <%= image_tag('popocatepetl-iztaccihuatl.jpg',height: "140px", width: "180px") %>
                              </div>
                              <div class="cover">
                                <header class="entry-header">
                                  <h2 class="post-title entry-title">
                                    <a href="http://newspress2-btemplates.blogspot.in/2013/01/lorem-ipsum.html">Lorem Ipsum</a>
                                  </h2>
                                  <div class="entry-meta">
                                    Posted on <time class="entry-date">12:20 PM</time><span> by <span class="author vcard">BTemplates</span></span> with <a href="http://newspress2-btemplates.blogspot.in/2013/01/lorem-ipsum.html#comment-form" onclick="">No comments</a>
                                  </div>
                                </header>
                                <div class="post-header-line-1"></div>
                                <div class="post-body entry-summary entry">
                                  <div id="summary1308695558697404753"><div>Download this and more Blogger Templates at . For tutorials, tips and tricks about Blogger visit our Blo [...]</div></div>
                                  <div style="clear: both;"></div>
                                </div>
                                <div style="clear: both;"></div>
                                <footer class="entry-meta">
                                  This entry was posted in : <a href="http://newspress2-btemplates.blogspot.in/search/label/Lorem%202" rel="tag">Lorem 2</a>, <a href="http://newspress2-btemplates.blogspot.in/search/label/Lorem%203" rel="tag">Lorem 3</a>
                                </footer>
                                <div style="float:right;padding-right:10px;margin-top:10px;">
                                  <a class="morer" href="http://newspress2-btemplates.blogspot.in/2013/01/lorem-ipsum.html">Read More</a>
                                </div>
                              </div>
                              <div class="post-footer">
                                <div class="post-footer-line post-footer-line-"></div>
                                <div class="post-footer-line post-footer-line-2"></div>
                                <div class="post-footer-line post-footer-line-3">
                                  <span class="item-control blog-admin pid-1592311861">
                                    <a href="https://www.blogger.com/post-edit.g?blogID=4285083475741806618&amp;postID=1308695558697404753&amp;from=pencil" title="Edit Post">
                                      <!-- <img alt="" class="icon-action" src="Newspress_files/icon18_edit_allbkg.gif" height="18" width="18"> -->
                                    </a>
                                  </span>
                                </div></div>
                              </article>
                            </div>
                            <div style="clear: both;height:20px;"></div>
                          </div>
                          <div class="post-outer">
                            <div class="wrapfullpost">
                              <article class="post hentry">
                                <a name="906996955940511104"></a>
                                <div id="summary2906996955940511104">
                                <!-- <img class="postimg" src="Newspress_files/BeachWaves-By-RePublicDomain.jpg" height="140px" width="180px"> -->
                                <%= image_tag 'BeachWaves-By-RePublicDomain.jpg', height: "140px", width: "180px" %>
                                </div>
                                <div class="cover">
                                  <header class="entry-header">
                                    <h2 class="post-title entry-title">
                                      <a href="http://newspress2-btemplates.blogspot.in/2013/01/template-images.html">Template images</a>
                                    </h2>
                                    <div class="entry-meta">
                                      Posted on <time class="entry-date">12:20 PM</time><span> by <span class="author vcard">BTemplates</span></span> with <a href="http://newspress2-btemplates.blogspot.in/2013/01/template-images.html#comment-form" onclick="">No comments</a>
                                    </div>
                                  </header>
                                  <div class="post-header-line-1"></div>
                                  <div class="post-body entry-summary entry">
                                    <div id="summary906996955940511104"><div>3 Images in this template:(Click on each to download)menu.pngstripe.pngcomment-avatar. [...]</div></div>
                                    <div style="clear: both;"></div>
                                  </div>
                                  <div style="clear: both;"></div>
                                  <footer class="entry-meta">
                                    This entry was posted in : <a href="http://newspress2-btemplates.blogspot.in/search/label/Lorem%201" rel="tag">Lorem 1</a>
                                  </footer>
                                  <div style="float:right;padding-right:10px;margin-top:10px;">
                                    <a class="morer" href="http://newspress2-btemplates.blogspot.in/2013/01/template-images.html">Read More</a>
                                  </div>
                                </div>
                                <div class="post-footer">
                                  <div class="post-footer-line post-footer-line-"></div>
                                  <div class="post-footer-line post-footer-line-2"></div>
                                  <div class="post-footer-line post-footer-line-3">
                                    <span class="item-control blog-admin pid-1592311861">
                                      <a href="https://www.blogger.com/post-edit.g?blogID=4285083475741806618&amp;postID=906996955940511104&amp;from=pencil" title="Edit Post">
                                        <!-- <img alt="" class="icon-action" src="Newspress_files/icon18_edit_allbkg.gif" height="18" width="18"> -->
                                      </a>
                                    </span>
                                  </div></div>
                                </article>
                              </div>
                              <div style="clear: both;height:20px;"></div>
                            </div>

                          </div></div>
                          
                        </div>
                        <div style="clear: both;"></div>
                        <div class="blog-pager" id="blog-pager">
                          <a class="home-link" href="http://newspress2-btemplates.blogspot.in/">Home</a>
                        </div>
                        <div class="clear"></div>
                        <div class="blog-feeds">
                          <div class="feed-links">
                            Subscribe to:
                            <a class="feed-link" href="http://newspress2-btemplates.blogspot.com/feeds/posts/default" target="_blank" type="application/atom+xml">Posts (Atom)</a>
                          </div>
                        </div>
                      </div></div>
                    </div><!-- #content .site-content -->
                  </div><!-- #primary .content-area -->
                  <div class="widget-area grid_2 omega" id="secondary" role="complementary">
                    <div class="sidebar">
                      <div class="sidebartop section" id="sidebartop"><div class="widget PopularPosts" id="PopularPosts1">
                        <h2>Popular Posts</h2>
                        <div class="widget-content popular-posts">
                          <ul>
                            <li>
                              <div class="item-content">
                                <div class="item-thumbnail">
                                  <!-- <a href="http://newspress2-btemplates.blogspot.in/2013/01/lorem-ipsum_4296.html" target="_blank">
                                    <img alt="" src="Newspress_files/Antartic-by-Peter-Rejcek.jpg" border="0" height="72" width="72">
                                  </a> -->
                                  <%= image_tag 'Antartic-by-Peter-Rejcek.jpg', border: '0', height: '72', width: '72'%>
                                </div>
                                <div class="item-title"><a href="http://newspress2-btemplates.blogspot.in/2013/01/lorem-ipsum_4296.html">Lorem Ipsum</a></div>
                                <div class="item-snippet">Download this and more Blogger Templates  at .
                                  For tutorials, tips and tricks about Blogger visit our Blog . » A 
                                  normal paragraph Ea eam lab...</div>
                                </div>
                                <div style="clear: both;"></div>
                              </li>
                            </ul>
                            <div class="clear"></div>
                            <span class="widget-item-control">
                              <span class="item-control blog-admin">
                                <a class="quickedit" href="http://www.blogger.com/rearrange?blogID=4285083475741806618&amp;widgetType=PopularPosts&amp;widgetId=PopularPosts1&amp;action=editWidget&amp;sectionId=sidebartop" onclick='return _WidgetManager._PopupConfig(document.getElementById("PopularPosts1"));' target="configPopularPosts1" title="Edit">
                                  <!-- <img alt="" src="Newspress_files/icon18_wrench_allbkg.png" height="18" width="18"> -->
                                  <%= image_tag 'icon18_wrench_allbkg.png', height: '18', width: '18' %>
                                </a>
                              </span>
                            </span>
                            <div class="clear"></div>
                          </div>
                        </div><div class="widget HTML" id="HTML5">
                        <h2 class="title">Blogger templates</h2>
                        <div class="widget-content">
                          
                            </div>
                            <div class="clear"></div>
                            <span class="widget-item-control">
                              <span class="item-control blog-admin">
                                <a class="quickedit" href="http://www.blogger.com/rearrange?blogID=4285083475741806618&amp;widgetType=HTML&amp;widgetId=HTML5&amp;action=editWidget&amp;sectionId=sidebartop" onclick='return _WidgetManager._PopupConfig(document.getElementById("HTML5"));' target="configHTML5" title="Edit">
                                  <!-- <img alt="" src="Newspress_files/icon18_wrench_allbkg.png" height="18" width="18"> -->
                                  <%= image_tag 'icon18_wrench_allbkg.png', height: '18', width: '18' %>
                                </a>
                              </span>
                            </span>
                            <div class="clear"></div>
                          </div><div class="widget HTML" id="HTML4">
                          <h2 class="title">Blogger news</h2>
                          <div class="widget-content">
                          
                            <ul id="rssdata1" style=""><li><a href="http://blog.btemplates.com/blogger-infographic/">Blogger in one image.</a></li><li><a href="http://blog.btemplates.com/customizing-blogger-templates-easily-firebug/">Customizing Blogger templates easily with Firebug</a></li><li><a href="http://blog.btemplates.com/papercut-really-cool-social-icons/">PaperCut, really cool social icons.</a></li><li><a href="http://blog.btemplates.com/blogger-dynamic-views/">Blogger Dynamic Views</a></li><li><a href="http://blog.btemplates.com/freedream-blogger-theme/">FreeDream, Blogger theme</a></li></ul><div style="display: none;" id="rssloading1">Loading...</div>
                            <script type="text/javascript">

                              jQuery.noConflict();

                              if( ! jQuery().jGFeed ) { (function(jQuery){jQuery.extend({jGFeed:function(url,fnk,num,key){if(url==null){return false;}var gurl="http://ajax.googleapis.com/ajax/services/feed/load?v=1.0&callback=?&q="+url;if(num!=null){gurl+="&num="+num;}if(key!=null){gurl+="&key="+key;}jQuery.getJSON(gurl,function(data){if(typeof fnk=="function"){fnk.call(this,data.responseData.feed);}else{return false;}});}});})(jQuery); }
                              jQuery.jGFeed('http://blog.btemplates.com/feed/',
                                function(feeds){
                                  if(!feeds){return false;}
                                  for (var i=0; i < feeds.entries.length; i++) {
                                    var item = feeds.entries[i];
                                    var item_html = '<li><a href="'+item.link+'">'+item.title+'</a></li>';
                                    jQuery('#rssdata1').append(item_html);
                                  }
                                  jQuery('#rssloading1').fadeOut();
                                  jQuery('#rssdata1').slideDown();
                                }, 5);</script>
                              </div>
                              <div class="clear"></div>
                              <span class="widget-item-control">
                                <span class="item-control blog-admin">
                                  <a class="quickedit" href="http://www.blogger.com/rearrange?blogID=4285083475741806618&amp;widgetType=HTML&amp;widgetId=HTML4&amp;action=editWidget&amp;sectionId=sidebartop" onclick='return _WidgetManager._PopupConfig(document.getElementById("HTML4"));' target="configHTML4" title="Edit">
                                    <!-- <img alt="" src="Newspress_files/icon18_wrench_allbkg.png" height="18" width="18"> -->
                                    <%= image_tag 'icon18_wrench_allbkg.png', height: '18', width: '18' %>
                                  </a>
                                </span>
                              </span>
                              <div class="clear"></div>
                            </div><div class="widget Label" id="Label2">
                            <h2>Categories</h2>
                            <div class="widget-content list-label-widget-content">
                              <ul>
                                <li>
                                  <a dir="ltr" href="http://newspress2-btemplates.blogspot.in/search/label/Lorem%201">Lorem 1</a>
                                  <span dir="ltr">(3)</span>
                                </li>
                                <li>
                                  <a dir="ltr" href="http://newspress2-btemplates.blogspot.in/search/label/Lorem%202">Lorem 2</a>
                                  <span dir="ltr">(2)</span>
                                </li>
                                <li>
                                  <a dir="ltr" href="http://newspress2-btemplates.blogspot.in/search/label/Lorem%203">Lorem 3</a>
                                  <span dir="ltr">(3)</span>
                                </li>
                              </ul>
                              <div class="clear"></div>
                              <span class="widget-item-control">
                                <span class="item-control blog-admin">
                                  <a class="quickedit" href="http://www.blogger.com/rearrange?blogID=4285083475741806618&amp;widgetType=Label&amp;widgetId=Label2&amp;action=editWidget&amp;sectionId=sidebartop" onclick='return _WidgetManager._PopupConfig(document.getElementById("Label2"));' target="configLabel2" title="Edit">
                                    <!-- <img alt="" src="Newspress_files/icon18_wrench_allbkg.png" height="18" width="18"> -->
                                    <%= image_tag 'icon18_wrench_allbkg.png', height: '18', width: '18' %>
                                  </a>
                                </span>
                              </span>
                              <div class="clear"></div>
                            </div>
                          </div></div>
                        </div>
                      </div><!-- #secondary .widget-area -->
                    </div><!-- #main .site-main -->
                    <div class="grid_6 paprh cf" id="bottom">
                      <aside class="footer-widget">
                        <div class="footersec section" id="footersec1"><div class="widget HTML" id="HTML1">
                          <div class="widget-content">

                          </div>
                          <div class="clear"></div>
                          <span class="widget-item-control">
                            <span class="item-control blog-admin">
                              <a class="quickedit" href="http://www.blogger.com/rearrange?blogID=4285083475741806618&amp;widgetType=HTML&amp;widgetId=HTML1&amp;action=editWidget&amp;sectionId=footersec1" onclick='return _WidgetManager._PopupConfig(document.getElementById("HTML1"));' target="configHTML1" title="Edit">
                                <!-- <img alt="" src="Newspress_files/icon18_wrench_allbkg.png" height="18" width="18"> -->
                                <%= image_tag 'icon18_wrench_allbkg.png', height: '18', width: '18'%>
                              </a>
                            </span>
                          </span>
                          <div class="clear"></div>
                        </div></div>
                      </aside>
                      <aside class="footer-widget">
                        <div class="footersec section" id="footersec2"><div class="widget HTML" id="HTML3">
                          <h2 class="title">Blogroll</h2>
                          <div class="widget-content">
                            <ul><li><a href="http://btemplates.com/" title="Blogger templates">BTemplates</a></li><li><a href="http://blog.btemplates.com/">BTemplates Blog</a></li><li><a href="http://newbloggerthemes.com/">NBThemes</a></li></ul>
                          </div>
                          <div class="clear"></div>
                          <span class="widget-item-control">
                            <span class="item-control blog-admin">
                              <a class="quickedit" href="http://www.blogger.com/rearrange?blogID=4285083475741806618&amp;widgetType=HTML&amp;widgetId=HTML3&amp;action=editWidget&amp;sectionId=footersec2" onclick='return _WidgetManager._PopupConfig(document.getElementById("HTML3"));' target="configHTML3" title="Edit">
                                <!-- <img alt="" src="Newspress_files/icon18_wrench_allbkg.png" height="18" width="18"> -->
                                <%= image_tag 'icon18_wrench_allbkg.png', height: '18', width: '18' %>
                              </a>
                            </span>
                          </span>
                          <div class="clear"></div>
                        </div></div>
                      </aside>
                      <aside class="footer-widget">
                        <div class="footersec section" id="footersec3"><div class="widget HTML" id="HTML2">
                          <h2 class="title">About</h2>
                          <div class="widget-content">
                            Mel putent quaeque an, ut postea melius denique sit. Officiis sensibus 
                            at mea, sea at labitur deserunt. Eam dicam congue soluta ut. <a href="http://btemplates.com/">Blogger Templates</a>
                          </div>
                          <div class="clear"></div>
                          <span class="widget-item-control">
                            <span class="item-control blog-admin">
                              <a class="quickedit" href="http://www.blogger.com/rearrange?blogID=4285083475741806618&amp;widgetType=HTML&amp;widgetId=HTML2&amp;action=editWidget&amp;sectionId=footersec3" onclick='return _WidgetManager._PopupConfig(document.getElementById("HTML2"));' target="configHTML2" title="Edit">
                              <!--  <img alt="" src="Newspress_files/icon18_wrench_allbkg.png" height="18" width="18"> -->
                              <%= image_tag 'icon18_wrench_allbkg.png', height: '18', width: '18' %>
                              </a>
                            </span>
                          </span>
                          <div class="clear"></div>
                        </div></div>
                      </aside>
                      <div class="clear"></div>
                    </div>
                    <footer class="site-footer grid_6 cf" id="colophon" role="contentinfo">
                      <div class="site-info">
                        <div class="fcred">
                          Copyright 2012 <a href="http://newspress2-btemplates.blogspot.in/">Newspress</a> | Powered by <a href="http://www.blogger.com/">Blogger</a>
                          <br>Design by <a href="http://www.fabthemes.com/" target="_blank">Fabthemes</a> | Blogger Template by <a href="http://newbloggerthemes.com/" target="_blank" title="Best Blogger Templates">NewBloggerThemes.com</a>
                        </div>
                      </div><!-- .site-info -->
                    </footer><!-- #colophon .site-footer -->
                  </div><!-- #page .hfeed .site -->


<!--                  <iframe tabindex="-1" style="width: 1px; height: 1px; position: absolute; top: -100px;" src="Newspress_files/postmessageRelay.html" id="oauth2relay1738351290" name="oauth2relay1738351290"></iframe> -->
</body>
<!-- <iframe src="" style="display: none;"></iframe> -->
</html>